body {
  margin: 0 auto;
  width: 70%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgb(51, 51, 51);
  padding: 16px 8px;
}

iframe {
  margin: 0 auto;
}

.reactions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: whitesmoke;
  font-family: sans-serif;
  font-weight: 700;
}

.reactions .btn {
  margin: 8px 16px;
}

.reactions .btn button {
  font-size: 20px;
  cursor: pointer;
  padding: 4px 8px;
  background: whitesmoke;
  border-radius: 50%;
}

.reactions .btn span {
  margin-left: 4px;
}