* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-family: sans-serif;
}

.content-wrapper {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  align-content: center;
  background-color: rgb(29, 29, 29);
}

.content-wrapper h1 {
  margin: 32px;
  color: whitesmoke;
}

.content-wrapper h1 .symbol {
  background-color: rgb(255, 19, 0);
  font-size: 24px;
  border-radius: 20px 20px / 4px 4px;
  width: fit-content;
  padding: 4px 16px;
  margin-right: 8px;
}

iframe {
  margin: 0 auto;
}

.reactions {
  display: flex;
  width: 700px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-end;
  color: whitesmoke;
  font-weight: 700;
  background-color: rgb(58, 58, 58);
}

.reactions .btn {
  margin: 4px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reactions .btn button {
  font-size: 36px;
  cursor: pointer;
  background: none;
  border: none;
}